<div class="navbar">
    <div class="logo">
      <h2 class="dashboard-heading">Dashboard</h2>
    </div>
    <ul class="nav-links">
      <li><a routerLink="/dashboard" routerLinkActive="active" ariaCurrentWhenActive="page"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
      <li><a routerLink="/maintenance" routerLinkActive="active" ariaCurrentWhenActive="page"><i class="fas fa-user-cog"></i> Mantenimiento de Usuario</a></li>
    </ul>
    <div class="navbar-end">
      <button class="logout-btn" (click)="logout()"><i class="fas fa-sign-out-alt"></i> Cerrar sesión</button>
    </div>
</div>